@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 4px; /* Increase width for padding effect */
  height: 4px; /* Increase height for padding effect */
}

/* Track */
::-webkit-scrollbar-track {
  background: black; /* Track background */
  margin-left: 4px;  /* Create space on the left side */
}

/* Handle (Thumb) */
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

/* Optional: Hover state for better user experience */
::-webkit-scrollbar-thumb:hover {
  background: #444444; /* Change color on hover */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
}